
.list-group-item, .card-header {
    padding: 5px 10px
}

li.myclass {
  background: lightcoral;
}

/* Styles used for SVG */
text {
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  rect {
    stroke:black;
    opacity:0.33;
  }

  rect.GN {fill: red;}
  rect.GP {fill: purple;}
  rect.ana {fill: green;}
  rect.atyp {fill: yellow;}

  rect.active {
    fill: #3B71CA;
    opacity:1;
  }