
.list-group-item, .card-header {
    padding: 5px 10px
}

li.myclass {
  background: rgb(51,160,44,0.8)
}
li.myclass2 {
  background: rgb(51,160,44,0.4)
}

/* Styles used for SVG */
text {
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  rect {
    stroke:black;
    opacity:0.6;
  }

  rect.GN {fill: #e7298a;} /* #e7298a */
  rect.GP {fill: #7570b3;} /* #7570b3 */
  rect.ana {fill: #1b9e77;} /* #1b9e77 */
  rect.atyp {fill: #d95f02;} /* #d95f02 */

  rect.active {
    fill: rgb(51,160,44);opacity:0.8;
  }

  /* For antibiotics */
  rect.good  {fill: #33a02c;opacity:0.8;}
  li.good    {background: rgb(51,160,44,0.8)}
  rect.some  {fill: #33a02c;opacity:0.4;}
  li.some    {background: rgb(51,160,44,0.4)}
  rect.broad {fill: #ff7f00;opacity:0.4;}
  li.broad   {background: rgb(255,127,0,0.4)}

  /* For syndromes */
  rect.com  {fill: #1f78b4;opacity:0.8;}
  li.com    {background: rgb(31,120,180,0.8)}
  rect.occ   {fill: #1f78b4;opacity:0.4;}
  li.occ    {background: rgb(31,120,180,0.4)}

  /* both */
  rect.bad   {fill: #e31a1c;opacity:0.4;}
  li.bad     {background: rgb(227,26,28, 0.4)}
  rect.na    {fill: #424242;opacity:0.4;}
  li.na     {background: rgb(66,66,66,0.4)}
  rect.unk    {fill: #FFFF00;opacity:0.4;}
  li.unk     {background: rgb(255,255,0,0.4)}
  rect.note    {fill: #FFFF00;opacity:0.4;}
  li.note     {background: rgb(255,255,0,0.4)}